:root{
    font-family: "Roboto";
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(180, 0, 0);
}

.header-footer{
    background-color: aliceblue;
    box-shadow: rgba(0, 0, 0, 0.5) 0 0 5px 5px;
}

.title{
    text-align: center;
    font-size: 250%;
}

.mode{
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.5) 0 0 5px 5px;
    border-radius: 25%;
    margin-top: 25px;
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(210, 0, 0);
}

#indicator{
    color: white;
}

.timer{
    width: 300px;
    height: 300px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px 5px;
    border-radius: 100%;
    margin: auto;
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: rgb(230, 0, 0);
}

.timer>*{
    display: inline-block;
    font-size: 500%;
    font-weight: normal;
    color: white;
}

.button{
    margin: auto;
    margin-top: 15px;
    width: 200px;
    display: flex;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.button>*{
    width: 80%;
    margin-bottom: 2px;
    margin-top: 2px;
}

#reset{
    display: none;
}

#ok, #infoPause, #infoWork, #minWork, #minPause{
    display: none;
}

label{
    color: white;
}

.footer{
    position: absolute;
    width: 100%;
    bottom: 0px;
    padding-top: 1%;
    padding-bottom: 1%;
}

.footer>div{
    width: 11.5%;
    margin: auto;
}